@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .nav-link {
    @apply relative inline-block;
  }

  .nav-link::before,
  .nav-link::after {
    @apply content-[''] absolute w-0 h-0.5 bottom-0 bg-arcana-purple transition-all duration-300 ease-in-out;
  }

  .nav-link::before {
    @apply left-1/2 transform -translate-x-1/2;
  }

  .nav-link::after {
    @apply right-1/2 transform translate-x-1/2;
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    @apply w-full;
  }
}

/* Add these new styles for smoother dropdown transitions */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

/* Add this new style for smooth fade-in transitions */
.transition-opacity {
  transition: opacity 1s ease-out, transform 1s ease-out;
}

@layer components {
  .nav-item-hover {
    @apply relative overflow-hidden;
  }

  .nav-item-hover::after {
    @apply content-[''] absolute bottom-0 left-0 w-full h-0.5 bg-[#3584C0] transform scale-x-0 transition-transform duration-300 origin-center;
  }

  .nav-item-hover:hover::after {
    @apply scale-x-100;
  }
}

.navigation-menu-content {
  transition: clip-path 300ms ease-out;
  clip-path: inset(0% 50% 100% 50%);
}

.navigation-menu-content[data-state="open"] {
  clip-path: inset(0% 0% 0% 0%);
}

.NavigationMenuContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
}

.NavigationMenuItem:hover .NavigationMenuContent,
.NavigationMenuTrigger:focus + .NavigationMenuContent,
.NavigationMenuContent:focus-within {
  display: block;
}

.NavigationMenuTrigger[data-state="open"] {
  color: #3584C0;
}

.NavigationMenuTrigger[data-state="open"]::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3584C0;
}

